body
{
	background-image: url("../images/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 18px;
	height: 90vh;
	width: 95vw;
}

.main-container
{
	max-width: 95vw; /* 100% del ancho de la ventana */
	max-height: 90vh; /* 100% de la altura de la ventana */
	background-position: center;
}

/* Centrar los elementos <li> en pantalla */
ul.cities
{
	max-width: 90%; /* Anchura máxima del contenedor */
    max-height: 90vh; /* Altura máxima del contenedor */
    width: auto; /* Ancho automático para ajustarse al contenido */
    height: auto; /* Altura automática para ajustarse al contenido */
    list-style-type: none;
    text-align: center;
    font-size: 32px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para los enlaces */
ul.cities li a
{
    text-decoration: none;
    color: white; /* Color normal del texto */
}

/* Estilos para los enlaces en estado 'link' */
ul.cities li a:link,
ul.links-cities li a:link 
{
    color: green; /* Cambia el color del texto para los enlaces no visitados */
}

/* Estilos para los enlaces en estado 'visited' */
ul.cities li a:visited,
ul.links-cities li a:visited 
{
    color: red; /* Cambia el color del texto para los enlaces visitados */
}

/* Estilos para los enlaces en estado 'hover' */
ul.cities li a:hover,
ul.links-cities li a:hover 
{
    color: white; /* Cambia el color del texto cuando se pasa el mouse por encima */
}


ul.links-cities 
{
    max-width: 90%; /* Anchura máxima del contenedor */
    max-height: 90vh; /* Altura máxima del contenedor */
    width: auto; /* Ancho automático para ajustarse al contenido */
    height: auto; /* Altura automática para ajustarse al contenido */
    list-style-type: none;
    text-align: center;
    font-size: 32px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

ul.links-cities li a 
{
	text-decoration: none;
    color: white; /* Color normal del texto */
}

ul.links-cities li a:link 
{
    color: green; /* Cambia el color del texto para los enlaces no visitados */
}

/* Estilos para los enlaces en estado 'visited' */
ul.links-cities li a:visited 
{
    color: red; /* Cambia el color del texto para los enlaces visitados */
}

/* Estilos para los enlaces en estado 'hover' */
ul.links-cities li a:hover 
{
    color: white; /* Cambia el color del texto cuando se pasa el mouse por encima */
}

div.credits-selection
{
	background-position: center;
	color: rgb(254, 93, 0);
	text-align: center;
	font-size: 22px;
}

.title-credits
{
	font-size: 40px;
}

p.go-back-link 
{
	width: auto; /* Ancho automático para ajustarse al contenido */
    height: auto; /* Altura automática para ajustarse al contenido */
    text-align: center;
	font-size: 48px;
	background-position: center;
}

p.go-back-link a:link,
p.go-back-link a:visited
{
	text-align: center;
	color: white;
	font-size: 48px;
}

p.go-back-link a:hover
{
	text-align: center;
	color: gold;
	font-size: 48px;
}

audio
{
	display:none;
}