body
{
	background-image: url("../images/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 18px;
	height: 90vh;
}

.main-container
{
	width: 100vw; /* 100% del ancho de la ventana */
	height: 100vh; /* 100% de la altura de la ventana */
	position: relative;
}

/* Centrar los elementos <li> en pantalla */
ul.cities,
ul.links-cities 
{
    list-style-type: none;
    padding: 0;
    text-align: center;
	font-size: 32px;
}

/* Estilos para los enlaces */
ul.cities li a,
ul.links-cities li a 
{
    text-decoration: none;
    color: white; /* Color normal del texto */
}

/* Estilos para los enlaces en estado 'link' */
ul.cities li a:link,
ul.links-cities li a:link 
{
    color: green; /* Cambia el color del texto para los enlaces no visitados */
}

/* Estilos para los enlaces en estado 'visited' */
ul.cities li a:visited,
ul.links-cities li a:visited 
{
    color: red; /* Cambia el color del texto para los enlaces visitados */
}

/* Estilos para los enlaces en estado 'hover' */
ul.cities li a:hover,
ul.links-cities li a:hover 
{
    color: white; /* Cambia el color del texto cuando se pasa el mouse por encima */
    background-color: lightgray; /* Agrega un fondo cuando se pasa el mouse por encima */
}

div.credits-selection
{
	background-position: center;
	color: rgb(254, 93, 0);
	text-align: center;
	font-size: 22px;
}

.title-credits
{
	font-size: 72px;
}

p.go-back-link {
    text-align: center;
	font-size: 48px;
    position: relative;
    top: 20px; 
}

p.go-back-link a:link,
p.go-back-link a:visited
{
	text-align: center;
	color: white;
	font-size: 48px;
}

p.go-back-link a:hover
{
	text-align: center;
	color: gold;
	font-size: 48px;
}

audio
{
	display:none;
}